<%-include('layout/header.ejs')%>

 
	<div class="sub-nav header-space col-s-12">
		<a href="#">Home</a>
		<p><i class="fa fa-angle-right"></i></p>
		<a href="#">Tous les produits</a>
		<p><i class="fa fa-angle-right"></i></p>
		<a href="#">Femme</a>
	</div>


<section class="container">

	<div class="content1">
		<div class="article-detail col-s-12 col-m-12 col-6">
			<div class="images-min">
				<div class="img-min">

					<img src="/img/f4.jfif">
				</div>
				<div class="img-min">
					<img src="/img/f4.jfif">
				</div>
				<div class="img-min">
					<img src="/img/f4.jfif">
				</div>
				<div class="img-min">
					<img src="/img/f4.jfif">
				</div>
			</div>
			<div class="img-max">
				<img src="/img/f4.jfif">
			</div>
		</div>
		<div class="txt  col-s-12 col-m-12 col-6">
			<h1>tenue femme all white tendance </h1>
			<h4 class="prix"> 17889  dzd</h4>
			<p>Tenue tres confortable,tendance,chic et classe pour des occasions ou tous les jours</p>   <br>
			<div class="form-div-detail">
				<label class="label-input">Size</label>

				<select class="form-input">
	    			<option class="">Select a size</option>
	    			<option class="xs">XS</option>
	    			<option class="s">S</option>
	   				<option class="m">M</option>
	    			<option class="l">L</option>
	    			<option class="xl">XL</option>
    				<option class="xxl">XXL</option>
				</select>

			</div>
			<div class="form-div-detail">
				<label class="label-input" for="qnt">Quantity</label>
				<select class="form-input" name="qnt" id="qnt">
	    			<option>Select the quantity</option>
	    			<option>1</option>
	   				<option>2</option>
	   				<option>3</option>
	   				<option>4</option>
	   				<option>5</option>
    				<option>6</option>
    			</select>

			</div>
			<div class="form-div-detail">
				<label class="label-input" for="qnt">Color</label>
				<select class="form-input" name="qnt" id="qnt">
	    			<option>Select the color</option>
	    			<option>black</option>
	   				<option>white</option>
	   				<option>red</option>
	    			<option>blue</option>
	    			<option>green</option>
	   				<option>pink</option>
				</select>

			</div>
			<div class="btn-div" >
				<button class="form-input btn btn-c1 ">
					<a href="">Add to cart</a>
				</button><br>
				<button class="form-input btn btn-c0 ">
					<a href=""> Add to wishlist</a>
				</button>
			</div>
			<div class="social-media ">

				<a href="#" ><i class="fab fa-google"></i></a>
				<a href="#" ><i class="fab fa-facebook"></i></a>
 				<a href="#" ><i class="fab fa-twitter-square"></i></a>
			</div>

		</div>
	</div>


	<div class="content2 col-s-12 col-m-12 col-12">
		<div class="titre ">
			<p><a href="discript1" id="btn-discript1" class="btn-discript">Description</a> </p>
			<p><a href="discript2" id="btn-discript2" class="btn-discript"> Additionnel information</a></p>
			<p><a href="discript3" id="btn-discript3" class="btn-discript"> Shipping & returns</a></p>
			<p><a href="discript4" id="btn-discript4" class="btn-discript">Reviews</a> </p>
		</div>



		<div class=" div-discript modal-active" id="discript1" >
			<p>
				 Une clé USB est un support de stockage amovible, inventé dans les années 2000 et prévue pour pouvoir se brancher sur un port USB d'un ordinateur mais qui est, depuis plusieurs années, largement utilisé sur d'autres appareils (chaînes Hi-Fi, lecteurs de DVD de salon, autoradios, radiocassettes, téléviseurs, etc.). Une clé USB contient une mémoire flash et ne possède pas ou très peu d'éléments mécaniques, ce qui la rend très résistante aux chocs.Une clé USB est un support de stockage amovible, inventé dans les années 2000 et prévue pour pouvoir se brancher sur un port USB d'un ordinateur mais qui est, depuis plusieurs années, largement utilisé sur d'autres appareils (chaînes Hi-Fi, lecteurs de DVD de salon, autoradios, radiocassettes, téléviseurs, etc.). Une clé USB contient une mémoire flash et ne possède pas ou très peu d'éléments mécaniques, ce qui la rend très résistante aux chocs.
				 Une clé USB est un support de stockage amovible, inventé dans les années 2000 et prévue pour pouvoir se brancher sur un port USB d'un ordinateur mais qui est, depuis plusieurs années, largement utilisé sur d'autres appareils (chaînes Hi-Fi, lecteurs de DVD de salon, autoradios, radiocassettes, téléviseurs, etc.). Une clé USB contient une mémoire flash et ne possède pas ou très peu d'éléments mécaniques, ce qui la rend très résistante aux chocs.Une clé USB est un support de stockage amovible, inventé dans les années 2000 et prévue pour pouvoir se brancher sur un port USB d'un ordinateur mais qui est, depuis plusieurs années, largement utilisé sur d'autres appareils (chaînes Hi-Fi, lecteurs de DVD de salon, autoradios, radiocassettes, téléviseurs, etc.). Une clé USB contient une mémoire flash et ne possède pas ou très peu d'éléments mécaniques, ce qui la rend très résistante aux chocs.
			</p>
		</div>

		<div class="div-discript " id="discript2">
			<p>
				info....
			</p>
		</div>
				<div class="div-discript" id="discript3">
			<p>
				shipping
			</p>
		</div>
				<div class="div-discript" id="discript4">
			<p>
				reviews
			</p>
		</div>
	</div>








	<div class="content3">
		<h2>YOU MIGHT LIKE ALSO</h2>
		<div class="images">
			<div class="image col-3 col-m-6 col-s-12" >
				<a href=""><img src="/img/robe.jpg" "></a>
				<p>robe rouge</p>
				<p>prix: 1300dzd</p>
				<p>habillement enfants</p>
			</div>
			<div class="image col-3 col-m-6 col-s-12">
				<a href=""><img src="/img/robe.jpg"></a>
				<p>robe rouge</p>
				<p>prix: 1300dzd</p>
				<p>habillement enfants</p>
			</div>
			<div class="image col-3 col-m-6 col-s-12">
				<a href=""><img src="/img/robe.jpg">
				<p>robe rouge</p></a>
				<p>prix: 1300dzd</p>
				<p>habillement enfants</p>
			</div>
			<div class="image col-3 col-m-6 col-s-12">
				<a href=""><img src="/img/robe.jpg"></a>
				<p>robe rouge</p>
				<p>prix: 1300dzd</p>
				<p>habillement enfants</p>
			</div>

		</div>

	</div>



</section>

<%-include('layout/footer.ejs')%>
