<%-include('layout/header.ejs')%>

	<div class='slider-block'>
		<div class="slide slide1" >
			<div class="txt-btn ">
				<p>Collection Homme 2022</p>
		 	    <h1>Nouvelle collection</h1>
		 	    <button class="btn-acheter">
		 	    	<a href=" #container">Acheter maintenant</a>
		 	    </button>
			</div>		
		</div>

		<div class="slide slide2" >
			<div class="txt-btn ">

				<p>Collection femme 2022</p>
		 	    <h1>  collection Summer</h1>
		 	    <button class="btn-acheter">
		 	       <a href=" #container">Acheter maintenant</a>
		 	    </button>
			</div>		
		</div>
		
		<div class="slide slide3">
			<div class="txt-btn">

				<p>Collection 2022</p>
		 	    <h1> collection Enfant</h1>
		 	    <button class="btn-acheter">
		 	       <a href=" #container">Acheter maintenant</a>
		 	    </button>
			</div>		
		</div>
 
	  	<button class="prev" id="prev" >&#10094;</button>  

	  	<button class="next" id="next" >&#10095;</button>  
	</div>

	<section class="container" id="container">
		<h1>PRESENTATION DU PRODUIT</h1>
		<div class="sub-menu-accueil">
			<ul>
				<li><a href="">Enfant</a></li>
				<li><a href="">Femme <a></li>
				<li><a href="">Homme </a></li>
			</ul>

		</div>


  

			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=' 'src=" /img/f1.png">
				</div>
				<h2>
					costum zara
				</h2>
				<p>
					500$
				</p>
					
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src="https://img.freepik.com/photos-gratuite/mannequin-femme-mignonne_1328-1135.jpg?size=338&ext=jpg">
				
				</div>
				<h2>
					costum femme
				</h2>
				<p>
					500$
				</p>
				
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src="https://i.pinimg.com/236x/4e/67/ec/4e67ec4c650301a3bd00e004e282b90c.jpg">
				
				</div>
				<h2>
					costum enfant
				</h2>
				<p>
					500$
				</p>
				
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src="https://i.pinimg.com/236x/af/c8/bc/afc8bca5279803d44aa27702d6644c0f.jpg">
				</div>
				<h2>
					costum enfant
				</h2>
				<p>
					500$
				</p>
				
			</div>
 
  			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=' 'src="https://i.pinimg.com/236x/f8/b4/5b/f8b45bca9327ede7125624cbcd911c41.jpg">
				</div>
				<h2>
					costum zara
				</h2>
				<p>
					500$
				</p>
			</div>	
					
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">	
					<img class=" " src="https://i.pinimg.com/236x/63/44/44/634444d668be623d3d5daa7ca284eaa6.jpg">
				</div>
				<h2>

					costum enfant
				</h2>
				<p>
					500$
				</p>
				
			</div>	
				

			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src="https://i.pinimg.com/236x/51/d8/80/51d880828561279de540ce26167b7e52.jpg">
				</div>
				<h2>
					costum femme
				</h2>
				<p>
					500$
				</p>
				
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
 					<img class=" " src="https://i.pinimg.com/236x/34/36/1d/34361dc24831be46903c5c7b8638e7c5.jpg">
				</div>
				<h2>
					costum enfant
				</h2>
				<p>
					500$
				</p>
				
			</div>
			 
 

			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=' 'src=" /img/f1.png">
				</div>
				<h2>
					costum zara
				</h2>
				<p>
					500$
				</p>
			 
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src=" /img/f2.jfif">
				</div>
				<h2>
					costum femme
				</h2>
				<p>
					500$
				</p>
				
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src=" /img/f3.jfif">
				</div>
				<h2>
					costum enfant
				</h2>
				<p>
					500$
				</p>
				
			</div>
			<div class="article col-3 col-m-6 col-s-12">
				<div class="img">
					<img class=" " src=" /img/f4.jfif">
				</div>
				<h2>
					costum enfant
				</h2>
				<p>
					500$
				</p>
				
			</div>


 		<div class="video">
			<iframe src="https://www.youtube.com/embed/BrexI2IkW18"></iframe>
			
		</div>	
	</section>


<%-include('layout/footer')%>