<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../public/css/admin.css">
<head>
	<title>ajout article</title>
</head>
<body>
	 

	<h2>Ajouter un produit</h4>
		
	<form class="form-admin" method="post">
		<label>Nom du produit</label>	
		<input  type="text" name="produit"><br>

		<label>price du produit</label>	
		<input type="text"  name="designation">	<br>

		<label>designation du produit</label>	
		<input type="text"  name="price">	<br>

		<button type="submit">
			Ajouter
		</button>

	</form>

		

	 

</body>
</html>