html{
	float: left;
	width: 100%;
	height: 100%;
}
body{
	float: left;
	width: 100%;
 }
.form-admin{
	float: left;
	width: 100%;

}
.form-admin label{
	float: left;
	width: 150px;
 
}
.form-div input{
	float: left;

}

.form-div button{
	float: left;
	
}