
<!DOCTYPE html>
<html>
	<html lang="fr">
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="/css/content.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

 	<link rel="stylesheet" type="text/css" href="/css/modal.css">
	<link rel="stylesheet" type="text/css" href="/css/style_base.css">
 
	<script src="https://kit.fontawesome.com/974d4a2cd5.js" crossorigin="anonymous"></script>
<head>
	<title>liste des produits </title>
</head>
<body>



<header>
	<div class="logo">
		<img src="/img/logo.png">	
	</div>

	<nav class="nav" id="menu">
			<ul>
		 		<li><a href="/">Home</a> </li>
			 	<li><a href="/articles">Shop</a></li>	
			 	<li><a href="">About</a></li>
	 			<li><a href="">Contact</a></>
	 			<li><a href="">Offer</a></li>
			</ul>
		<form> 
	 		<input type="recherche" placeholder="SEARCH">
	 	</form>
	 	<p><a href=""title='wishlist'><i class="fas fa-heart"></i> </a></p>
		<p><a href=""title='card list' id="btnshop"><i class="fas fa-shopping-cart"></a></i></p>
		<p><a href=""title='login' id="btncnx"><i class="fas fa-user-alt" ></a></i></p>
	</nav>

	<div class="iconmenu" id="iconmenu">
		<button><i class="fas fa-bars"></i></button> 
	</div>
		
</header>
