<footer>
	<div class="footer1 col-13" >
		<div class="f1 col-3 col-m-6 col-s-12">
			<h3>E-commerce</h3> 
			<p>site ecommerce ou boutique en ligne, profitez des nouvelles collections disponibles ainsi 		que des promotions au long de l'annee  
			</p>
		</div>
		<div class="f1 col-3 col-m-6 col-s-12">	 
			<h3>usefull links</h3>
			<ul>
				<li><a href="">Home</a> </li>
				<li><a href="">Shop  </a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Offer </a></li>
				<li><a href="">log in  </a></li>
			</ul>
			 
		</div>
		<div class="f1 col-3 col-m-6 col-s-12">
			<h3>customer service</h3>
			<ul>
				<li><a href="" >Patement methode </a></li>
				<li><a href="" >Money-back  </a></li>
				<li><a href="" >Return </a></li>
				<li><a href="" >Shopping </a></li>
				<li><a href="" >Termes and condition </a> </li>
				<li><a href="" >Privacy policy </a> </li>
			</ul>
		</div>
		<div class="f1 col-3 col-m-6 col-s-12">
			<h3>My account</h3>
			<ul>
				<li><a href="" >Sign in </a></li>
				<li><a href="" >View cards </a> </li>
				<li><a href="" >My wishlist </a></li>
				<li><a href="" >Track my order</a></li>
				<li><a href="" >Help </a> </li>
			</ul>
		</div>
	</div>	
	<div class="footer2 col-12">
		<p >
			Made whith <i class="far fa-heart"></i> by hamida <i class="far fa-smile-wink"> </i>
		</p>
		<p>
			&copy contacter nous au 0673 00 00 00 
		</p>
	</div>
	
		
</footer>
<!-- creer un div modal de cnx -->

<div class="modalcnx" id="modalcnx">
	<div class="cnx w1">
		<form >
			<span class="close">&times;</span>
			<h1>Se connecter</h1>
			<div class="socialmedia">
				<p> <a href=""><i class="fab fa-google">		 </i></a> </p>
				<p> <a href=""><i class="fab fa-facebook">		 </i></a> </p>
				<p> <a href=""><i class="fab fa-twitter-square"> </i></a></p>
				
			</div>
			<p class="choosemail"><b>Ou utiliser mon adresse email</b></p>
			<div class="inputs">
				<input type="email" name="mail" placeholder="Mail">
				<input type="password" name="password" placeholder="Password">
			</div>
			<p class="lien-inscr"><b>Je n'ai pas de compte, <a href="" id="btninsc">Je m'inscrit</a> </b></p>
			<div class="btn-cnx">
				<button type="submit"> <a href=""> Se connecter </a> </button>
			</div>
		</form>	
	</div>
</div>

<!-- le modal d'inscription-->
<div class="modalcnx" id="modalinsc">
	<div class="cnx w2">
		<form>
				<span class="close">&times;</span>
			
				<h2>Creation de compte</h2>
				<div class="form-div-insc">
					<label class="label-input" >Nom *</label>
					<input type="text" name="first-name">
				</div>

				<div class="form-div-insc">
					<label class="label-input" >Prenom *</label>
					<input type="text" name="last-name">
				</div>

				<div class="form-div-insc">
					<label class="label-input" >Mot de passe *</label>
					<input type="password" name="psw">
				</div>

				<div class="form-div-insc">
					<label class="label-input" >Confirmation*</label>
					<input type="password" name="first-name">
				</div>

				<div class="form-div-insc">
					<label class="label-input" >E-mail *</label>
					<input type="email" name="mail">
				</div>

				<div class="form-div-insc">
					<label class="label-input" >Confirmation*</label>
					<input type="email" name="first-name">
				</div>

				<div class="form-div-insc  type" >
					<label class="label-input" >Gender*</label><!-- pk sa marche pas la class label-input avec text-align=left   -->
					<div class="gender" >
						<input type="radio" name="fav_language">
						<label >Femme</label>
					
						<input type="radio" name="fav_language">
						<label>Homme</label>
						
					</div>	
				</div>

				<div class="form-div-insc">
					<label class="label-input" >N° Tel</label>
					<input type="tel" name="phone">
				</div><br>
				<div class="btn-cnx">
					<button > <a href=""> S'inscrire</a></button>
				</div>
		</form>
		
	</div>
	
</div>



<div class="cart" id="cart">
		<span class="close">&times;</span>

		<h2>YOUR CART</h2>
		<div class="cart-item">
			<img src="/img/e3.jfif">
			<p>shirt <br>1500dzd</p>
		</div>
		<div class="cart-item">
			<img src="/img/e3.jfif">
			<p>shirt <br>1500dzd</p>
		</div>
		<div class="cart-item">
			<img src="/img/e3.jfif">
			<p>shirt <br>1500dzd</p>
		</div>
		<h2>TOTAL :</h2>
		<div class="btn-cart">
			<button>View cart</button>
			<button>check out</button>
		</div>
</div>	




</body>
</html>

<script src="/js/index.js"></script>
<script src="/js/liste.js"></script>
<script src="/js/detail.js"></script>
<script src="/js/modal.js"></script>